# Ignore virtual environments
venv/

# Ignore datasets
data_helmet_nohelmet/

# Ignore model files
saved_models/

# Ignore checkpoints and large notebooks
*.keras
*.ipynb_checkpoints/
*.log
*.pyc
__pycache__/
.DS_Store
